In [ ]:
# dict 를 활용한 sql문 관리

biz_domain = {
    "user_table" : {
        "select" : '''
                select pk, name, location
                from user_table 
                where pk = %s
        ''',
        "delete" : "delete from user_table where pk = %s "   
    },
    
    "system_table" : {
        "insert" : '''
                select pk, name, location
                from system_table 
                where pk = %s
        ''',
        "delete" : "delete from where system_tablepk = %s "  
    }
}

tname = 'user_table'

# print(type(biz_domain))
# print(type(biz_domain["user_table"]))


param = ("what", )  ## arg는 tuple 형식으로

print(biz_domain[tname]["delete"]%param)

delete from user_table where pk = what

In [12]:
# dict 를 활용한 sql문 관리

biz_domain = {
    "user_table" : {
        "select" : '''
                select pk, name, location
                from user_table 
                where 1 = 1
                    and pk = {pk}
                    and name = {name}
        ''',
        "delete" : "delete from user_table where pk = {pk} "   
    },
    
    "system_table" : {
        "select" : '''
                select pk, name, location
                from system_table 
                where 1 = 1
                    and pk = {}
                    and name = {name}
        ''',
        "delete" : "delete from where system_tablepk = {pk} "  
    }
}

tname = 'system_table'

# print(type(biz_domain))
# print(type(biz_domain["user_table"]))

pk = 'what'
name = 'Joe'

print(biz_domain[tname]["select"].format(pk, name = name))

                select pk, name, location
                from system_table
                where 1 = 1
                    and pk = what
                    and name = Joe